.cartWidget{
    align-items: baseline;
    margin-right: 10%;
    

  }

  .flag {
    width: 90px;
    height: 120px;
    
    position: relative; 
  }
  .flag:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #e3e7c3e8;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
  }