
.withBackground{
    background-image: url(../../assets/HeaderBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.secondBackground{
  background-color: rgba(0,0,0,0.1); /* Black w/opacity/see-through */
  margin: 0;
  padding: 0;
  }

 .distance{
   margin-right:1rem ;
   margin-left:1rem ;
   color: black;

 }

 .nav{
  padding: 0;
 
  background-color: #e1e6bf
}

.nav::-webkit-scrollbar {
  width: 3px;
}

.nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.headerFrame{
  
  margin: 4%;
  margin-bottom: 0;
  margin-right: 6%;
  margin-left: 0;
  border: 1%;
}
.button-color{
  background-color: #AFC99B;
  text-decoration: none;
  border: none;
}

.navbar-toggler{
  margin-right: 45%;
}