@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

.spinner-border{
    margin-top: 20%;
    margin-left: 50%;
}

button{
  border: none;
}
a{
  text-decoration: none;
}

.appFrame{
  overflow: hidden;
  padding: 7%;
  padding-bottom: 5%;
  padding-top: 1%;
  background-color:#afc99b;
  z-index: 1
  
}

body{
  font-family: 'Lora', serif;
  font-size: 1.05rem;
  margin: 0;
  padding: 0;

}

.shadow{
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
 body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);

}
